i {
  padding-right: 15px;
  padding-top: 25px;
}

i:first-of-type {
  padding-left: 50px;
}

/*Tamaño pequeño*/

@media (max-width: 576px) {
  i {
    padding-right: 0px;
    padding-top: 25px;
  }

  i:first-of-type {
    padding-left: 0px;
  }
}

/*Tamaño medio*/

@media (max-width: 768px) and (min-width: 576px) {
  i {
    padding-right: 0px;
    padding-top: 25px;
  }
  i:first-of-type {
    padding-left: 0px;
  }
}
