<footer
    class="container container-full mx-auto border-0 grid grid-cols-4 py-10"
>
    <div class="flex items-center pr-10">
        <a class="" href="./index.html">
            <img
                src="./assets/images/logo.png"
                alt="logotipo"
                class="w-250px h-200px"
            />
        </a>
    </div>

    <div class="flex items-center">
        <a class="" href="./index.html">Home</a>
    </div>
    <div class="flex items-center">
        <a class="" href="./pagina2.html">Historia</a>
    </div>
    <div class="flex items-center space-x-4">
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
    </div>
</footer>
